/_pycache_
/lightning_logs
/Mask_228
/Mask_428
/Mask_bbx_228_269_428
/Mask_sliced
/Mask_test_pitch_calcule
/model_3legs
/Model_full_training
/Models
/test_slice
/test_slice
/228_STL.stl
/269_STL.stl
/428_STL.stl
/code_ARIA.rar